html {
	
 
 

}

@font-face {
	font-family: Min;
	src: url('Min.otf');
  font-family: gothic;
  src: url('GOTHIC.TTF');
}



div {

	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
}

/* CSV Table Classes */
TABLE.CSVTable {
	font: 1.2em gothic;
	border-collapse: collapse;
	width: 100%;
	color: rgba();
	line-height: 5px;
	padding: ;
	



}

/* Header */
.smaller {
	font-size: 1.3em gothic;
	line-height: 1em;
	vertical-align: top;
}
#brand {
	color: rgb(101,42,123);

}
#vm {
	color: rgb(30,136,176);

}
#rms {
	color: rgb(81,185,70);

}
#chem {
	color: rgb(224,113,31);

}

TABLE.CSVTable THEAD TR {
	padding: 1em;
	vertical-align: top;
	
}
TABLE.CSVTable TH {
	font-family: gothic;
	font-size: 1.5em;
}

/* Table Cells */
TABLE.CSVTable TD, TABLE.CSVTable TH {
	font-family: gothic;
	padding: 1em;
	text-align: center;
	border-bottom: none;
	border-top: none;
	color: black;

}
/* Default background color for rows */
TABLE.CSVTable TR {
	background: ;
}
/* Background color for odd rows */
TABLE.CSVTable TR.odd {
	background: rgba(0, 0, 3, 0.2);
}
/* Hover color for alle rows */
TABLE.CSVTable TR:hover {
	background: ;
}

/* Source code */
.source {
	
	
}
