html {
	
background: gray;
 

}
@font-face {
	font-family: Min;
	src: url('Min.otf');
  font-family: gothic;
  src: url('GOTHIC.TTF');
}

div {

	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
}

/* CSV Table Classes */
TABLE.CSVTable {
	font: .90em gothic; 
	border-collapse: collapse;
	width: 100%;
	color: rgba();
	line-height: 5px;
	vertical-align: baseline;
	

}

/* Header Text */
.smaller {
	font-size: 1em gothic;
	color: rgb();
	line-height: 1em;
	vertical-align: top;
}

/* Header */
TABLE.CSVTable THEAD TR {
	background: ;
	vertical-align: top;
	line-height: 1em;
}

TABLE.CSVTable TH {
	font-family: gothic;
	font-size: 1em;
}

/* Table Cells */
TABLE.CSVTable TD, TABLE.CSVTable TH {
	font-family: gothic;
	padding: 1em;
	text-align: center;
	border-bottom: none;
	border-top: none;
	color: white;

}
/* Default background color for rows */
TABLE.CSVTable TR {
	background: ;
}
/* Background color for odd rows */
TABLE.CSVTable TR.odd {
	background: rgba(0, 0, 3, 0.2);
}
/* Hover color for alle rows */
TABLE.CSVTable TR:hover {
	background: ;
}

/* Source code */
.source {
	
	
}
